.header {width:100%; padding:8px; border-bottom:1px solid #ccc;}
.header > :first-child {float:left;}
.header > :last-child {float:right;}
.logo {max-width:160px; margin-top:8px;}

.navs {width:100%; height:100px; text-align:center; border-bottom:1px solid #ccc;}
.nav {width:32%; height:100px;float:left;  font-size:1em; font-weight:bold; color:#333; cursor:pointer; text-align:center; margin-right:2%;
border-right:1px solid #ccc; box-sizing:border-box;}
.nav:last-child{margin-right:0; border-right:0;}
.nav:hover {background-color:rgb(112, 56, 150); color:#fff;}
.nav > span {font-size:1em; margin-top:30px;}

.section{width:100%;  height:100%; margin:auto; padding:10px; }
.section_kid{float:left; width:33.3%;}

.case{width:250px; padding:10px; 
    border:1px solid #333; margin:auto;}

/*ul 마진은 옆으로 30px */
.case .case_input{}
.case .case_input input[type=text]{display:block; width:100%; margin-bottom:5px; }
.case .case_bt button{float:right;}

.case_title_box{width:100%; height:30px; border:1px solid #000; text-align:center; }
.hometop_li{float:left;}
#case_index{width:100%;  height:250px; overflow-y: scroll;}
.case_ul{width:85%; /* height:500px; overflow-y: scroll; */margin: 10px auto; border-bottom:1px solid red;}
.case_ul > li {float:left; width:25%; line-height:30px;}
.case_ul > li > .case_input{width:90%;}
.case_ul .case_bt{margin-right:5px; margin-bottom:5px; float:right;}



.footer {width:100%; height:50px; background-color:#222; text-align:center; line-height:50px; color:#f1f1f1; position:fixed; bottom:0; display:none;}