.header {width:100%; padding:8px 0; }
.header li{float:left;}
.header li.head_title{padding-top:30px; margin-left:650px; }
.header li.head_site{padding-top:30px;float:right; margin-right:30px;}
.logo {max-width:160px;}

.navs {width:100%; height:100px; margin:auto; text-align:center;
border-top:1px solid #ccc; border-bottom:1px solid #ccc; box-sizing:border-box; }
.nav {width:33.33%; height:100px; float:left;  font-size:1em; font-weight:bold;  cursor:pointer; text-align:center; border-right:1px solid #333; 
 box-sizing:border-box;background-color:#dfc89f;color:#2f2c29;}
.nav:last-child{border-right:none;}


.nav > span {font-size:1em; margin-top:30px;}

/* .section{width:100%;  height:100%; margin:auto;} */
.section_kid{float:left; width:33.3%;}
.section_box{width:85%; margin:auto;}

.case{width:250px; padding:10px; 
    border:1px solid #333; margin:auto; margin-bottom:20px;}
.toy_case{margin-top:60px;}

.top_box {text-align:center; padding:15px 0;}
.top_box input[type=text]{padding:5px 0;}
.top_box button{padding:3px;}
.bot_box {text-align:center; padding:15px 0;}


.border{width:100%; height:1px; background-color:#000; margin-top:40px;}

/*ul 마진은 옆으로 30px */
.case .case_input{}
.case .case_input input[type=text]{display:block; width:100%; margin-bottom:5px; }
.case .case_bt button{float:right;}

.case_title_box{width:100%; height:30px; line-height:30px; border:1px solid #000; text-align:center; margin-bottom:10px; }
.hometop_li{float:left;}
#case_index{height:250px; overflow-y: scroll;}
.case_ul{width:85%; /* height:500px; overflow-y: scroll; */margin: 10px auto; border-bottom:1px solid #413a34;}
.case_ul > li {float:left; width:25%; line-height:30px;}
.case_ul > li > .case_input{width:90%;}
.case_ul .case_bt{margin-right:5px; margin-bottom:5px; float:right;}
#case_bot_index{overflow-y: scroll; height:250px;}

/*fashion*/
#fashion_index{overflow-y:scroll; height:250px;}
#fashion_bot_index{overflow-y:scroll; height:250px;}

/*toy_index*/
#toy_index{overflow-y:scroll; height:250px;}



/********************************/
/*section 2*/
/********************************/
.section2{width:100%; padding-bottom:8%;}
.head_tit{text-align:center; padding:80px 0;}
.best_ul{width:600px; margin:auto; border:1px solid #333; padding:10px; margin-bottom:3%;}
.best_ul li:not(.best_bt){margin-bottom:3px;}
.best_ul input[type=text]{padding:5px 0; text-align:center; }
.best_photo_box, .best_price_box{float:left;}

.best_title_box {width:100%; }
.best_title_box input[type].be_title{width:60%; box-sizing: border-box;}
.best_title_box input[type].be_link{width:35%; box-sizing:border-box;}

.best_photo_box {width:30%;}
.best_photo_box input[type]{width:90%;}
.best_price_box {width:70%;}
.best_price_box input[type]{width:100%;}
.best_bt{float:right;}

.best_init{width:95%; margin:auto; }
.best_init ul{width:18%;margin-right:2.5%; border:1px solid #333; box-sizing:border-box; float:left; padding:1% 0;}
.best_init ul:last-child{margin-right:0;}
.best_init ul li{width:90%; margin:auto; padding-bottom:2%;}
.ind_title{width:70%}
.ind_link{width:20%;}
.index_imgbox{float:left; width:40%;}
.ind_orimg_input{margin-top:10%;}
.ind_hoimg_input{margin-top:10%;}
.index_prili{text-align:center;}
.index_bt{text-align:center;}
.index_bt button{width:30%;}
.index_bt .index_del{margin-right:10%;}


/********************************/
/*section3*/
/********************************/
.section3{width:100%;}
.sec3_title{text-align:center; padding:50px 0;}
.rec_ul{width:200px; margin:auto; border:1px solid #333; padding:10px; margin-bottom:3%;}
.rec_ul li{padding:5px 0;}
.rec_ul li:first-child input[type=text]{width:100%;}
.rec_ul li:last-child{text-align:right;}

.rec_init{width:95%; margin:auto;}
.rec_index{width:17%;margin-right:2.5%;border:1px solid #999; box-sizing:border-box; float:left; padding:1%;
margin-bottom:2%;}
.rec_index li{text-align:center; padding-bottom:2%;}
.rec_ind_title{width:90%;}
.rec_ind_link{width:90%}
.rec_ind_img{width:90%;}


.footer {width:100%; height:50px; background-color:#222; text-align:center; line-height:50px; color:#f1f1f1; position:fixed; bottom:0; display:none;}


